
.top{
    height:25%;
    position: absolute;

}

#logo{
    position: relative;
    top:27px;
    left:75px;
}

.onglet{
    height:75%;
}

.section1,
.section2,
.section3,
.section4{
    border:2px solid black;
}


.row .col{
    padding:0% !important;
}